:root {
  --ccs3-op-gap: 1em;
  --ccs3-op-half-gap: calc(var(--ccs3-op-gap) / 2);
  --ccs3-op-double-gap: calc(var(--ccs3-op-gap) * 2);
  --ccs3-op-no-gap: 0;
  --ccs3-op-padding: 1em;
  --ccs3-op-half-padding: calc(var(--ccs3-op-padding) / 2);
  --ccs3-op-double-padding: calc(var(--ccs3-op-padding) * 2);
  --ccs3-op-no-padding: 0;
  /* TODO: Investigate colors like --mat-sys-... */
  --ccs3-op-notification-success-color: #202020;
  --ccs3-op-notification-success-background-color: #00ff88;
  --ccs3-op-notification-info-color: #202020;
  --ccs3-op-notification-info-background-color: #99c2ff;
  --ccs3-op-notification-warn-color: #202020;
  --ccs3-op-notification-warn-background-color: #ffe799;
  --ccs3-op-notification-error-color: #202020;
  --ccs3-op-notification-error-background-color: #fac0c0;
  --ccs3-op-sys-error: var(--mat-sys-error);
  --ccs3-op-sys-error-container: var(--mat-sys-error-container);
  --ccs3-op-sys-tertiary: var(--mat-sys-tertiary);
  --ccs3-op-sys-tertiary-container: var(--mat-sys-tertiary-container);
  --ccs3-op-active-border-width: 0.33em;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  /* Fix for dark font color on dark background */
  color: var(--mat-sys-on-surface);
  background-color: var(--mat-sys-background);
}

/* Flex */
.ccs3-op-flex-row {
  display: flex;
  flex-direction: row;
  gap: var(--ccs3-op-gap);
  align-items: center;
}

.ccs3-op-flex-column {
  display: flex;
  flex-direction: column;
  gap: var(--ccs3-op-gap);
}

.ccs3-op-flex-justify-space-between {
  justify-content: space-between;
}

.ccs3-op-flex-wrap {
  flex-wrap: wrap;
}

/* Routing */
a[mat-raised-button].ccs3-op-router-link.ccs3-op-router-link-active {
  border-width: 1px;
  border-style: dashed;
}

/* Grid */
.ccs3-op-two-col-grid {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: var(--ccs3-op-gap);
}

/* Padding */
.ccs3-op-padding {
  padding: var(--ccs3-op-padding);
}

.ccs3-op-half-padding {
  padding: var(--ccs3-op-half-padding);
}

.ccs3-op-double-padding {
  padding: var(--ccs3-op-double-padding);
}

.ccs3-op-no-padding {
  padding: var(--ccs3-op-no-padding);
}

.ccs3-op-block-start-padding {
  padding-block-start: var(--ccs3-op-padding);
}

.ccs3-op-block-end-padding {
  padding-block-end: var(--ccs3-op-padding);
}

/* Spacing */
.ccs3-op-no-gap {
  gap: 0;
}

.ccs3-op-half-gap {
  gap: var(--ccs3-op-half-gap);
}

.ccs3-op-double-gap {
  gap: var(--ccs3-op-double-gap);
}

.ccs3-op-border-spacing {
  border-spacing: var(--ccs3-op-gap);
}

/* Align and justify */
.ccs3-op-align-items-center {
  align-items: center;
}

.ccs3-op-align-items-baseline {
  align-items: baseline;
}

.ccs3-op-align-items-start {
  align-items: start;
}

.ccs3-op-align-text-start {
  text-align: start;
}

.ccs3-op-align-text-end {
  text-align: end;
}

/* Size */
.ccs3-op-full-width {
  width: 100%;
}

.ccs3-op-full-height {
  height: 100%;
}

.ccs3-op-max-width-small-text {
  max-width: 20ch;
}

.ccs3-op-max-width-medium-text {
  max-width: 40ch;
}

.ccs3-op-max-width-large-text {
  max-width: 60ch;
}

.ccs3-op-max-height-small-text {
  max-height: 20ch;
}

.ccs3-op-max-height-medium-text {
  max-height: 40ch;
}

.ccs3-op-max-height-large-text {
  max-height: 60ch;
}

.ccs3-op-font-size-small {
  font-size: small;
}

.ccs3-op-font-size-smaller {
  font-size: smaller;
}

/* Overflow */
.ccs3-op-overflow-auto {
  overflow: auto;
}

/* Colors */
.ccs3-op-background-color {
  background-color: var(--mat-sys-background);
}

.ccs3-op-error-color {
  color: var(--mat-sys-error-container);
}

.ccs3-op-success-color {
  color: var(--mat-sys-on-primary-container);
}

.ccs3-op-warn-color {
  color: var(--mat-sys-tertiary-container);
}

.ccs3-op-warn-container {
  color: var(--ccs3-op-sys-tertiary);
  background-color: var(--ccs3-op-sys-tertiary-container);
}

.ccs3-op-error-container {
  color: var(--ccs3-op-sys-error);
  background-color: var(--ccs3-op-sys-error-container);
}

/* Elements */
fieldset {
  border: none;
}

/* Notifications */
.ccs3-op-notification-icon {
  flex-shrink: 0;
}

.ccs3-op-notification-title {
  font-size: 1.5em;
  flex-grow: 1;
}

.ccs3-op-notification-close-button {
  flex-shrink: 0;
}

.ccs3-op-notification-close-button .ccs3-op-notification-close-button-icon {
  color: var(--ccs3-op-notification-success-color);
}

.ccs3-op-notification-description {
  font-size: 1.5em;
}

.mdc-snackbar.mat-mdc-snack-bar-container.ccs3-op-notification-type-success .mat-mdc-snackbar-surface {
  color: var(--ccs3-op-notification-success-color);
  background-color: var(--ccs3-op-notification-success-background-color);
}

.mdc-snackbar.mat-mdc-snack-bar-container.ccs3-op-notification-type-info .mat-mdc-snackbar-surface {
  color: var(--ccs3-op-notification-info-color);
  background-color: var(--ccs3-op-notification-info-background-color);
}

.mdc-snackbar.mat-mdc-snack-bar-container.ccs3-op-notification-type-warn .mat-mdc-snackbar-surface {
  color: var(--ccs3-op-notification-warn-color);
  background-color: var(--ccs3-op-notification-warn-background-color);
}

.mdc-snackbar.mat-mdc-snack-bar-container.ccs3-op-notification-type-error .mat-mdc-snackbar-surface {
  color: var(--ccs3-op-notification-error-color);
  background-color: var(--ccs3-op-notification-error-background-color);
}

/* Components */
ccs3-op-computer-statuses .device-options-expanders ccs3-op-expand-button .expand-button-expanded {
  border-width: var(--ccs3-op-active-border-width);
}

/* Material */
button[mat-button].mat-tonal-button {
  background-color: var(--mat-sys-secondary-container);
  color: var(--mat-sys-on-secondary-container);
}

mat-card-content.ccs3-op-mat-card-content-no-padding {
  padding: 0;
}

mat-expansion-panel.ccs3-op-mat-expansion-panel-small-padding .mat-expansion-panel-body {
  padding-inline: 16px;
}

mat-expansion-panel.ccs3-op-mat-expansion-panel-no-padding .mat-expansion-panel-body {
  padding: 0;
}
