:root {
  --ccs3-op-gap: 1rem;
  --ccs3-op-half-gap: calc(var(--ccs3-op-gap) / 2);
  --ccs3-op-double-gap: calc(var(--ccs3-op-gap) * 2);
  --ccs3-op-no-gap: 0;
  --ccs3-op-padding: 1rem;
  --ccs3-op-quarter-padding: calc(var(--ccs3-op-padding) / 4);
  --ccs3-op-half-padding: calc(var(--ccs3-op-padding) / 2);
  --ccs3-op-double-padding: calc(var(--ccs3-op-padding) * 2);
  --ccs3-op-no-padding: 0;
  /* TODO: Investigate colors like --mat-sys-... */
  --ccs3-op-notification-success-color: #202020;
  --ccs3-op-notification-success-background-color: #00ff88;
  --ccs3-op-notification-info-color: #202020;
  --ccs3-op-notification-info-background-color: #99c2ff;
  --ccs3-op-notification-warn-color: #202020;
  --ccs3-op-notification-warn-background-color: #ffe799;
  --ccs3-op-notification-error-color: #202020;
  --ccs3-op-notification-error-background-color: #fac0c0;
  --ccs3-op-sys-error: var(--mat-sys-error);
  --ccs3-op-sys-error-container: var(--mat-sys-error-container);
  --ccs3-op-sys-tertiary: var(--mat-sys-tertiary);
  --ccs3-op-sys-tertiary-container: var(--mat-sys-tertiary-container);
  --ccs3-op-active-border-width: 0.33rem;
  --ccs3-op-table-alternate-background-odd: var(--mat-sys-surface-container-highest);
  --ccs3-op-table-alternate-background-even: var(--mat-sys-surface-container-low);
  --ccs3-op-font-size-half: 0.5rem;
  --ccs3-op-primary-color: var(--mat-sys-primary);
  --ccs3-op-tiny-text: 10ch;
  --ccs3-op-small-text: 20ch;
  --ccs3-op-medium-text: 40ch;
  --ccs3-op-large-text: 60ch;
  --ccs3-op-highlight-background: var(--mat-sys-primary-container);
  --ccs3-op-table-caption-font-size: 1.5em;
}

/* Flex */
.ccs3-op-flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: var(--ccs3-op-gap);
  align-items: center;
}

.ccs3-op-flex-column {
  display: flex;
  flex-direction: column;
  gap: var(--ccs3-op-gap);
}

.ccs3-op-flex-justify-space-between {
  justify-content: space-between;
}

.ccs3-op-flex-no-wrap {
  flex-wrap: nowrap;
}

.ccs3-op-flex-grow {
  flex-grow: 1;
}

/* Routing */
a[mat-raised-button].ccs3-op-router-link.ccs3-op-router-link-active {
  border-width: 1px;
  border-style: dashed;
}

/* Grid */
.ccs3-op-two-col-grid {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: var(--ccs3-op-gap);
}

.ccs3-op-span-two-grid-cols {
  column-span: 2;
}

/* Padding */
.ccs3-op-padding {
  padding: var(--ccs3-op-padding);
}

.ccs3-op-half-padding {
  padding: var(--ccs3-op-half-padding);
}

.ccs3-op-double-padding {
  padding: var(--ccs3-op-double-padding);
}

.ccs3-op-no-padding {
  padding: var(--ccs3-op-no-padding);
}

.ccs3-op-block-start-padding {
  padding-block-start: var(--ccs3-op-padding);
}

.ccs3-op-block-end-padding {
  padding-block-end: var(--ccs3-op-padding);
}

.ccs3-op-block-padding {
  padding-block: var(--ccs3-op-padding);
}

.ccs3-op-inline-end-padding {
  padding-inline-end: var(--ccs3-op-padding);
}

/* Borders */
.ccs3-op-primary-border {
  border-width: 1px;
  border-color: var(--ccs3-op-primary-color);
  border-style: solid;
}

/* Spacing */
.ccs3-op-no-gap {
  gap: 0;
}

.ccs3-op-half-gap {
  gap: var(--ccs3-op-half-gap);
}

.ccs3-op-double-gap {
  gap: var(--ccs3-op-double-gap);
}

/* Align and justify */
.ccs3-op-align-items-center {
  align-items: center;
}

.ccs3-op-align-items-baseline {
  align-items: baseline;
}

.ccs3-op-align-items-start {
  align-items: start;
}

.ccs3-op-align-items-flex-start {
  align-items: flex-start;
}

.ccs3-op-align-items-flex-end {
  align-items: flex-end;
}

.ccs3-op-align-text-start {
  text-align: start;
}

.ccs3-op-align-text-end {
  text-align: end;
}

.ccs3-op-vertical-align-baseline {
  vertical-align: baseline;
}

/* Size */
.ccs3-op-full-width {
  width: 100%;
}

.ccs3-op-full-height {
  height: 100%;
}

.ccs3-op-max-width-small-text {
  max-width: var(--ccs3-op-small-text);
}

.ccs3-op-width-small-text {
  width: var(--ccs3-op-small-text);
}

.ccs3-op-max-width-medium-text {
  max-width: var(--ccs3-op-medium-text);
}

.ccs3-op-width-medium-text {
  width: var(--ccs3-op-medium-text);
}

.ccs3-op-max-width-large-text {
  max-width: var(--ccs3-op-large-text);
}

.ccs3-op-width-large-text {
  width: var(--ccs3-op-large-text);
}

.ccs3-op-max-height-small-text {
  max-height: var(--ccs3-op-small-text);
}

.ccs3-op-max-height-medium-text {
  max-height: var(--ccs3-op-medium-text);
}

.ccs3-op-max-height-large-text {
  max-height: var(--ccs3-op-large-text);
}

.ccs3-op-font-size-small {
  font-size: small;
}

.ccs3-op-font-size-smaller {
  font-size: smaller;
}

.ccs3-op-font-size-double {
  font-size: 2em;
}

.ccs3-op-line-height-normal {
  line-height: normal;
}

/* Headers */
.ccs3-op-header-1 {
  font-size: x-large;
  font-weight: bold;
}

.ccs3-op-header-2 {
  font-size: larger;
  font-weight: bold;
}

/* Overflow */
.ccs3-op-overflow-auto {
  overflow: auto;
}

.ccs3-op-overflow-wrap-anywhere {
  overflow-wrap: anywhere;
}

/* Colors */
.ccs3-op-background-color {
  /* TODO: Assign --ccs3-op variables for all --mat variables and use --ccs3-op here instead */
  background-color: var(--mat-sys-background);
}

.ccs3-op-error-color {
  color: var(--mat-sys-error);
}

.ccs3-op-success-color {
  color: var(--mat-sys-on-primary-container);
}

.ccs3-op-warn-color {
  color: var(--mat-sys-tertiary-container);
}

.ccs3-op-warn-container {
  color: var(--ccs3-op-sys-tertiary);
  background-color: var(--ccs3-op-sys-tertiary-container);
}

.ccs3-op-error-container {
  color: var(--ccs3-op-sys-error);
  background-color: var(--ccs3-op-sys-error-container);
}

.ccs3-op-highlight-background {
  background-color: var(--ccs3-op-highlight-background);
}

/* Visibility */
.ccs3-op-visibility-hidden {
  visibility: hidden;
}

/* Position */
.ccs3-op-sticky-bottom {
  position: sticky;
  bottom: 0;
}

/* HTML Elements */
html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  /* Fix for dark font color on dark background */
  color: var(--mat-sys-on-surface);
  background-color: var(--mat-sys-background);
}

fieldset {
  border: none;
}

table {
  border-spacing: 0;
  width: fit-content;
}

table caption {
  z-index: 1;
  position: sticky;
  top: 0;
  color: var(--mat-sys-on-surface);
  background-color: var(--mat-sys-background);
  font-size: var(--ccs3-op-table-caption-font-size);
  font-weight: bold;
  text-align: left;
}

table thead {
  z-index: 1;
  position: sticky;
  /* This must be as high as the table caption is (but only if table caption exists) */
  top: calc(var(--ccs3-op-table-caption-font-size) + 0.3em);
  color: var(--mat-sys-on-surface);
  background-color: var(--mat-sys-background);
}

table th,
table td {
  padding-inline: var(--ccs3-op-half-padding);
}

table:not(.ccs3-op-no-alt-colors) tbody tr:nth-child(odd) {
  background-color: var(--ccs3-op-table-alternate-background-odd);
}

table:not(.ccs3-op-no-alt-colors) tbody tr:nth-child(even) {
  background-color: var(--ccs3-op-table-alternate-background-even);
}

td.ccs3-op-important-table-cell {
  background-color: var(--mat-sys-primary-container);
}

/* Notifications */
.ccs3-op-notification-icon {
  flex-shrink: 0;
}

.ccs3-op-notification-title {
  font-size: 1.5em;
  flex-grow: 1;
}

.ccs3-op-notification-close-button {
  flex-shrink: 0;
}

.ccs3-op-notification-close-button .ccs3-op-notification-close-button-icon {
  color: var(--ccs3-op-notification-success-color);
}

.ccs3-op-notification-description {
  font-size: 1.5em;
}

.mdc-snackbar.mat-mdc-snack-bar-container.ccs3-op-notification-type-success .mat-mdc-snackbar-surface {
  color: var(--ccs3-op-notification-success-color);
  background-color: var(--ccs3-op-notification-success-background-color);
}

.mdc-snackbar.mat-mdc-snack-bar-container.ccs3-op-notification-type-info .mat-mdc-snackbar-surface {
  color: var(--ccs3-op-notification-info-color);
  background-color: var(--ccs3-op-notification-info-background-color);
}

.mdc-snackbar.mat-mdc-snack-bar-container.ccs3-op-notification-type-warn .mat-mdc-snackbar-surface {
  color: var(--ccs3-op-notification-warn-color);
  background-color: var(--ccs3-op-notification-warn-background-color);
}

.mdc-snackbar.mat-mdc-snack-bar-container.ccs3-op-notification-type-error .mat-mdc-snackbar-surface {
  color: var(--ccs3-op-notification-error-color);
  background-color: var(--ccs3-op-notification-error-background-color);
}

/* Components */
.ccs3-op-computer-statuses-component-content-container .computers-container {
  --ccs3-op-computers-container-grid-rows: 10;
}

ccs3-op-computer-statuses .device-options-expanders ccs3-op-expand-button .expand-button-expanded {
  border-width: var(--ccs3-op-active-border-width);
}

ccs3-op-computer-statuses .computer-status-container.will-stop-soon .computer-name,
ccs3-op-computer-statuses .computer-status-container.will-stop-soon .remaining-time {
  background-color: var(--ccs3-op-notification-warn-background-color);
  color: var(--ccs3-op-notification-warn-color);
  padding: var(--ccs3-op-half-padding);
}

ccs3-op-computer-statuses .computer-note {
  max-height: 4ch;
  overflow: hidden;
}

ccs3-op-computer-statuses .computers-container mat-card-header {
  padding: var(--ccs3-op-quarter-padding);
}

ccs3-op-device-sessions-report .device-session-usage .completed-session {
  background-color: var(--ccs3-op-primary-color);
}

ccs3-op-device-sessions-report .device-session-usage [ccs3-op-tariff-price="0"] {
  background-color: var(--ccs3-op-sys-error);
}

ccs3-op-device-sessions-report .device-session-usage .session-usage-device-name {
  width: var(--ccs3-op-tiny-text);
}

/* Misc */
.ccs3-op-main-container {
  padding-inline: var(--ccs3-op-half-padding);
}

.ccs3-op-zero-value-table-cell {
  font-size: var(--ccs3-op-font-size-half);
}

.ccs3-op-overflow-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Material */
button[mat-button].mat-tonal-button {
  background-color: var(--mat-sys-secondary-container);
  color: var(--mat-sys-on-secondary-container);
}

mat-card-content.ccs3-op-mat-card-content-no-padding,
mat-card-content.ccs3-op-mat-card-content-no-padding:first-child,
mat-card-content.ccs3-op-mat-card-content-no-padding:last-child
{
  padding: 0;
}

mat-expansion-panel.ccs3-op-mat-expansion-panel-small-padding .mat-expansion-panel-body {
  padding-inline: 16px;
}

mat-expansion-panel.ccs3-op-mat-expansion-panel-no-padding .mat-expansion-panel-body {
  padding: 0;
}
